
<!DOCTYPE html>
<html>
<head>
<style>


h1{
text - align:center;
  width30%;
  color:green; font-size:60px;
}

p{color:red; font-size:40px;
}

body {
     background: url("file:///C:/Users/willi/Pictures/white.PNG") no-repeat center center fixed;

        
}

html{
   background: url("file:///C:/Users/willi/Pictures/white.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 80px;
   width: 100%;
   background-color: ;
   color: white;
   text-align: center;
}
</style>
</head>
<body>
<%=link_to'Home', root_path%>

<h1>The Complete Ruby Developer Course About Me</h1>

<button type="button" onclick="alert('The world is yours')">Press Here For Fun</button>

<button type="button" onclick="alert('I want to take over the world with Ruby')">Not a hidden link</button>



<p>The Complete Ruby Developer Course (RAILS)</p>

<ul style="list-style-type:disc">
  <li>Ruby Mine</li>
  <li>Ruby on rails</li>
  <li>HTML</li>
  <li>Ruby Mine</li>
  <li>Ruby on rails</li>
  <li>HTML</li>
</ul>


<ul style="list-style-type:disc">
  <li>Ruby Mine</li>
  <li>Ruby on rails</li>
  <li>HTML</li>
  <li>Ruby Mine</li>
  <li>Ruby on rails</li>
  <li>HTML</li>
</ul>

<ul style="list-style-type:disc">
  <li>Visual Studio C#</li>
  <li>Java Eclipse</li>
  <li>My SQL</li>
  <li>Cucumber</li>
  <li>Appium</li>
  <li>HTML5</li>
</ul>

<ul style="list-style-type:disc">
  <li>Visual Studio C#</li>
  <li>Java Eclipse</li>
  <li>My SQL</li>
  <li>Cucumber</li>
  <li>Appium</li>
  <li>HTML5</li>
</ul>

<div class="footer">
  <p>About Automated QA Analyst</p>
</div>

</body>
</html>
